@charset "UTF-8";

@media screen and (max-width: 768px) { /* SMARTPHONE */
  
  body {
    display: grid;
    place-items: center;
  }

  h1 {
    padding-right: 7.3rem;
  }

  img {
    width: 300px;
    border-radius: 8px;
    margin: auto;
  }

  img.phone {display: block;}
  img.tablet {display: none;}
  img.pc {display: none;}
}

@media screen and (min-width: 768px) and (max-width: 992px) { /* TABLET */

  main {
    display: grid;
    gap: 5px;
    grid-template-rows: 1fr 1fr;
  }

  h1 {
    padding-right: 7.3rem;
  }

  img {
    width: 220px;
    border-radius: 8px;
  }

  img.phone {display: none;}
  img.tablet {display: block;}
  img.pc {display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1200px) { /* DESKTOP */
  
  img.phone {display: none;}
  img.tablet {display: none;}
  img.pc {display: block;}
}